{{!-- <div class="articlesBox">
    {{#each stories}}
    <div class="data" dataTitle="{{headline}}" dataLink="{{url}}" dataTitle="{{title}}"  dataContent="{{content}}" dataImg="{{img}}">

        <h2><a href="{{url}}">{{headline}}</a></h2>
        <p>{{content}}</p>
    </div>
    {{/each}}
</div> --}}
<h2>test</h2>
<div class="articlesBox">
    {{#each stories}}
     <p> {{headline}} </p>
          <p> {{url}} </p>

    {{/each}}
</div>