
<h2>test</h2>
<div class="articlesBox">
    {{#each stories}}
     <p> {{headline}} </p>
          <p> {{url}} </p>
          <!--if button clicked add comment  --> 
          <button class ="updateOne" data-id="{{id}}" data-newComment="{{hasComment:false}}">
              {{#if hascomment:<i class="fas fa-sliders-h-square    "></i>}}COMMENT HERE{{else}}NO COMMENT{{/if}}

          </button>
    {{/each}}
</div>