
<h2>test</h2>
<div class="articlesBox">
    {{#each stories}}
     <p> {{headline}} </p>
          <p> {{url}} </p>
          <button class ="updateOne" data-id="{{id}}" data-newComment="{{hasComment:false}}">
              {{#if hascomment:false}}COMMENT HERE{{else}}NO COMMENT{{/if}}

          </button>
    {{/each}}
</div>